bitarray==3.8.0
bitstring==4.3.1
cffi==2.0.0
cleo==2.1.0
click==8.3.1
crashtest==0.4.1
cryptography==46.0.3
esptool==5.1.0
intelhex==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
mpremote==1.27.0
platformdirs==4.5.1
pycparser==3.0
Pygments==2.19.2
pyserial==3.5
python-dotenv==1.2.2
PyYAML==6.0.3
RapidFuzz==3.14.3
reedsolo==1.7.0
rich==14.3.1
rich-click==1.9.6
